body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f6f6f6;
    font-family: 'Arial', sans-serif;
}

.dashboard-container {
    text-align: center;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

p {
    color: #333;
    margin-bottom: 30px;
    word-wrap: break-word;
}

.button-container {
    display: flex;
    justify-content: center;
}

.data-button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.user {
    background-color: #4e89ae;
}

.teacher {
    background-color: #f67280;
}

.user:hover {
    background-color: #6ca2b5;
}

.teacher:hover {
    background-color: #f88f9d;
}
